.rules
  &__footer
    display flex
    justify-content center
    & .button-wrapper
      margin 20px

  &__link
    text-decoration none
    display block
    text-align center
    color #42A5F5
    font-size 1rem
    &:hover
      color #111