.edit-snmp-config-entry
  &__footer
    display flex
    justify-content space-around
    margin-top 20px
    
  &__general-error
    color red
    display flex
    justify-content center

  &__checkbox-wrapper
    padding-bottom 12px
  
  &__fields
    width 1200px
    display flex

  &__fields-block
    flex 1 0 100px
    margin-right 16px
    display flex
    align-items: center

  &__fields-block:last-child
    margin-right 0