@import "~shared/view/styles/colors.styl";

.table-header
  display flex
  width 100%
  &_is-sortable
    cursor pointer
  &__sort
    margin-left 5px
    width 0
    height 0
    border-left 5px solid transparent
    border-right 5px solid transparent
    border-top 5px solid #e0e0e0
    border-bottom none
    align-self center
    &_asc
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $grey900;
      border-bottom none
    &_desc
      border-top none;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $grey900;
  &_align
    &_right
      justify-content flex-end
    &_left
      justify-content flex-start
      word-break initial
      // padding-left 10px
      // padding-right 10px