.multi-select-field
  .chip
    line-height 14px
    font-size 14px
    display flex
    align-items center
    justify-content space-between
    padding 2px 10px

  .delete
    position static
    width 14px
    height 14px
    padding 2px
    //margin 0.1rem

  .deletable
    cursor pointer
    margin 0 5px 4px 0
    padding 0 4px 0 10px