.big-dot
  font-size 1.2rem

.filter-resource
  padding-left 20px

  &__caption
    height 40px
    margin 5px 0
    display flex
    align-items center

  &__filters
    display flex
    
  &__title
    font-size 1.2rem
    font-weight bold