.add-policy
  &__footer
    display flex
    justify-content space-around
    margin-top 20px
    
  &__general-error
    color red
    display flex
    justify-content center

  &__groups-wrapper
    display flex
    justify-content space-between
    padding-top 20px
    padding-bottom 20px
    .checkbox-multiselect-wrapper__button
      color black

  &__format-wrapper
    display flex
    justify-content flex-end
    padding-top 20px
    padding-bottom 20px
    .checkbox-multiselect-wrapper__button
      color black