@import "~shared/view/styles/colors.styl"

.edit-printer
  &__footer
    display flex
    justify-content space-around
    margin-top 20px

.printservers
  &__circle
    width 10px
    height 10px
    display inline-block
    vertical-align super
    border-radius 50%
    margin-right 10px
    &_green
      background-color $green220

    &_red
      background-color $red100

    &_blue
      background-color #4562ec