.selected-filters
  padding-bottom 10px

  &__value-filter
    display inline-flex
    position relative
    margin-right 45px
    vertical-align middle
    align-items center

  &__select-filter
    //padding 10px 0
    padding-top 5px
    padding-bottom 5px
    width 23%
    position relative

  &__autocomplete-filter
    //padding 10px 0
    padding-top 5px
    padding-bottom 5px
    width 23%
    position relative

  &__multi-filter
    //padding 10px 0
    padding-top 5px
    padding-bottom 5px
    width 32.5%
    position relative
    
  &__calendar
    display inline-flex
    position relative
    margin-right 20px
    vertical-align middle
    align-items center

  &__remove
    height 100%
    position absolute
    margin auto
    top 42%
    left 170px
    button
      width 26px

    //background url(./images/multiply.svg)
    //background-size contain
    //background-repeat no-repeat
    //width 20px
    //height 20px
    //cursor pointer
    //display inline-block
    //position absolute
    //right -30px
    //bottom 26%

  &__select-filter
    position relative
    width 25%

  .value-filter
    display inline-block


  