@import "~shared/view/styles/colors.styl";

.aggregate
  text-align right
  padding 10px 0
  &__title
    color $blue500
    font-weight bold
  &__stat
    line-height 1.3rem
  &__value
    width 2rem
    display inline-block
