.edit-operators
  &__footer
    display flex
    justify-content space-around
    margin-top 20px
    
  &__general-error
    color red
    display flex
    justify-content center
  
  &__check-field
    padding 10px 0