// @font-face {
//   font-family: 'ProximaNovaRegular';
//   src: url('./fonts/Proxima/ProximaNovaRegular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face
  font-family: 'ProximaNova';
  src: url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaRegular.otf') format('otf'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaRegular.eot') format('eot'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaRegular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ProximaNova';
  src: url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaRegularItalic.otf') format('otf'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaRegularItalic.eot') format('eot'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaRegularItalic.woff') format('woff')
  font-style: italic;
  font-weight: normal;

@font-face
  font-family: 'ProximaNova';
  src: url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaSemibold.otf') format('otf'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaSemibold.eot') format('eot'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaSemibold.woff') format('woff')
  font-style: normal;
  font-weight: bold;


@font-face
  font-family: 'ProximaNova';
  src: url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaSemiboldItalic.otf') format('otf'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaSemiboldItalic.eot') format('eot'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaSemiboldItalic.woff') format('woff')
  font-style: italic;
  font-weight: bold;


@font-face
  font-family: 'ProximaNova';
  src: url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaLight.otf') format('otf'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaLight.eot') format('eot'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaLight.woff') format('woff')
  font-style: normal;
  font-weight: 100;

@font-face
  font-family: 'ProximaNova';
  src: url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaLightItalic.otf') format('otf'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaLightItalic.eot') format('eot'),
       url('./fonts/MarkSimonson/MarkSimonson-ProximaNovaLightItalic.woff') format('woff')
  font-style: italic;
  font-weight: 100;


html
  font-family 'ProximaNova', sans-serif
  background white

body
  font-size 1rem
  margin 0
  padding 0
