@import "~shared/view/styles/colors.styl";
.group-select
  .button-wrapper
    display inline-block

  .button
    font-size .8rem
    line-height 1.57rem

  .raised, .flat, .floating, .toggle
    font-family 'SegoeUI', sans-serif 

  .primary:not([disabled]).raised
    background $blue500

  .raised
    min-width 5rem
    height 2.3rem