@import "~shared/view/styles/colors.styl";

.button-wrapper
  display inline-block

.button
  font-size 1rem
  line-height 2.57rem

.raised, .flat, .floating, .toggle
  font-family 'SegoeUI', sans-serif

.primary:not([disabled]).raised
  background $blue500

.raised
  min-width 9rem