@import "~shared/view/styles/colors.styl"

.reader
  &__circle
    width 10px
    height 10px
    display inline-block
    vertical-align super
    border-radius 50%
    margin-left 10px
    &_green
      background-color $green220
    &_red
      background-color $red100

