.pagination
  &__container
    width auto
    height 30px
    margin-bottom 30px
    border solid 1px #d8d8d8
    background #eceff2
    padding 10px 9px 0 14px
    margin-right 20px

    span
    	margin-right 10px
    	cursor pointer

.active
	color #000
	font-weight 600