.display-select
  text-align left
  padding-left 20px

  &__multiselect
    width 25%
    display inline-block
    margin-right 5%

  &__filter
    width 25%
    margin 0 25px
    display inline-block
