.multi-select-field
  .chip
    line-height 1.5rem
    font-size 1rem
    display flex
    align-items center
    justify-content space-between
    padding 0 10px 0 10px

  .delete
    position static
    width 1rem
    height 1rem
    padding 0.1rem
    margin 0.1rem

  .deletable
    cursor pointer
    margin 0 5px 4px 0
    padding 0 4px 0 10px