@import "~shared/view/styles/colors.styl";

.multi-select-field
  display flex
  flex-direction column
  align-items stretch
  padding 0 0 10px 0
  margin-bottom 10px
  border-bottom 1px solid $grey300

  &__header
    font-size 16px
    font-weight 600
    color #212121

  &__chipwrapper
    height 35px
    display flex
    align-items flex-end
    width 380px !important
    height auto !important
    display flex !important
    align-items flex-end !important
    flex-wrap wrap

  &__subwrapper
    flex 1 0 auto
    display flex
    flex-direction column
    align-items stretch