@import "~shared/view/styles/colors.styl";
@require "~shared/view/elements/Checkbox/style.styl";

.checkbox-wrapper
  padding .15rem
  .text
    color $grey900
    font-size 1rem
  .check
    margin-top .15rem