.users
  &__multi-icon
    width 95px
    right 30px
    top 30%
    display inline-block
  &__update-user-footer
    display flex
    justify-content space-between
    margin-top 10px
  &__update-user-content
    margin-top 5px
    justify-content center
    .content-header
      display flex
      justify-content center
    .div
      display flex
      justify-content center
      padding 3px
    .content-container
      display flex
      justify-content center
      flex-wrap wrap
    span
      margin-right 7px
      font-size 15px
  &__general-error
    margin-top 10px
    color red
    display flex
    justify-content center

.table-header_align_right {
  display: none !important;
}
