.policies
    &__state > .checkbox-wrapper
        vertical-align top

.btn-sm
  display inline-block
  border-radius 5px
  background-color #357fd1
  background-size contain
  padding 0px 10px
  height 1.8rem
  cursor pointer
  vertical-align text-bottom
  color #fff
  text-align center
  font-size 1.2rem
  padding-top .2rem
  transition-property background-color
  transition-duration .2s

.btn-sm-disabled
  display inline-block
  border-radius 5px
  background-color #aaa
  background-size contain
  padding 0px 10px
  height 1.8rem
  cursor pointer
  vertical-align text-bottom
  color #ccc
  text-align center
  font-size 1.2rem
  padding-top .2rem
  transition-property background-color
  transition-duration .2s