.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

/* also used in textarea in InfoSideBar */
.input_sc {
  border: 1px solid rgb(219, 232, 239);
  border-radius: 4px;
  outline: none;
  color: #7a869e;
  font-size: 16px;
  line-height: 1;
  padding: 8px 12px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  min-width: 100px;
  position: relative;
  text-overflow: ellipsis;
  padding-right: 30px;
  transition: color 0.4s, border-color 0.4s, box-shadow 0.4s;
}

.input_sc:hover {
  border-color: #30a3e6;
}

.input_sc:focus {
  border-color: #30a3e6;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  color: #333;
}

.input--small {
  font-size: 12px;
  height: 20px;
  padding: 0 4px;
}

.input--medium {
  font-size: 16px;
  height: 36px;
  padding: 0 8px;
}

.input--large {
  font-size: 20px;
  height: 52px;
  padding: 0 12px;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.padding {
  padding-right: 26px;
}

.cross {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}