.edit-roles
  &__footer
    display flex
    justify-content space-around
    margin-top 20px
    
  &__general-error
    color red
    display flex
    justify-content center
  
  &__check-label
    display block
    font-weight normal
    font-size 1.5rem
    text-align center
  
  &__check-field
    padding 10px 0
    overflow auto
    max-height 50vh

  &__actions
    padding 15px 0
    display flex
    justify-content space-around