.add-group
  &__footer
    display flex
    justify-content space-around
    margin-top 20px
    
  &__general-error
    color red
    display flex
    justify-content center

  &__restart
    display flex
    justify-content center
    padding 20px 0px

  &__activate
    display flex
    justify-content center
    padding 10px 0px
    & div
      margin 0 5px