@import "~shared/view/styles/colors.styl";

.multi-filter
  position relative
  display flex
  align-items flex-end

  &__chip
    position relative
    display flex
    align-items flex-end
    margin-left 40px
    align-items flex-end

.multi-filter__subwrapper
  flex 1 0 auto
  display flex
  align-items flex-start
  width 220px

.multi-filter__button-rem
  height 30px
  width 30px
  box-sizing: border-box
  margin-top 14px
  margin-left 4px