.add-policy
  &__footer
    display flex
    justify-content space-around
    margin-top 20px
    
  &__general-error
    color red
    display flex
    justify-content center

  &__hint
    display inline-block
    color #2ea5ff
    padding 5px 10px
  &:hover
    cursor pointer
    color #4fc7ff