.modal__content
  overflow hidden !important

.add-rule
  &__footer
    display flex
    justify-content space-around
    margin-top 20px
    
  &__general-error
    color red
    display flex
    justify-content center

  &__groups-wrapper
    display flex
    justify-content space-between
    padding-top 15px
    .checkbox-multiselect-wrapper__button
      color black
  
  &__activate
    display flex
    justify-content center
    padding 10px 0px
    & div
      margin 0 5px