.group-select
  &__container
    max-height 60vh
    overflow-y auto
  &__footer
    display flex
    justify-content space-around
    padding-top 30px

  &__checkbox-list
    max-height 70vh
    overflow-y auto