.value-filter
  display flex
  align-items center
  justify-content space-around
  width 225px

  &__button
    height 100%
    position absolute
    margin auto
    top 42%
    left 170px
    button
      width 26px

  &__button-rem
    height 100%
    position absolute
    margin auto
    top 42%
    right 0
    button
      width 26px