.icon
  width 20px
  height 20px
  margin 0 5px
  display inline-block
  &_trash
    background: url('./images/recycling_bl.png') no-repeat;
    background-size: 100% 100%;
    width 16px
    height 16px
    &:hover
      cursor pointer
      background: url('./images/recycling_b.png') no-repeat;
      background-size: 100% 100%;
      width 16px
      height 16px
  &_pen
    background: url('./images/pencil_bl.png') no-repeat;
    background-size: 100% 100%;
    width 16px
    height 16px
    &:hover
      cursor pointer
      background: url('./images/pencil_b.png') no-repeat;
      background-size: 100% 100%;
      width 16px
      height 16px
  &_folder
    background: url('./images/group_bl.png') no-repeat;
    background-size: 100% 100%;
    width 16px
    height 16px
    &:hover
      cursor pointer
      background: url('./images/group_b.png') no-repeat;
      background-size: 100% 100%;
      width 16px
      height 16px
  &_sync
    width 16px
    height 16px
    background url('./images/062_bl.png') no-repeat
    background-size 100%
    &:hover
      cursor pointer
      background url('./images/062.png') no-repeat
      background-size 100%
  &_unsync
    width 22px
    height 22px
    background url('./images/unsyncprinter.svg') no-repeat
    background-size cover;
    cursor: pointer;
    &:hover
      width 22px
      height 22px
      background url('./images/unsyncprinterh.svg') no-repeat
      background-size cover;
  &_unsync_off
    width 22px
    height 22px
    background url('./images/unsyncprinteroff.svg') no-repeat
    background-size cover;
    cursor: pointer;
  &_trash_off
    background: url('./images/recycling_g.png') no-repeat;
    background-size: 100% 100%;
    width 16px
    height 16px
  &_pen_off
    background: url('./images/pencil_g.png') no-repeat;
    background-size: 100% 100%;
    width 16px
    height 16px
  &_folder_off
    background: url('./images/group_g.png') no-repeat;
    background-size: 100% 100%;
    width 16px
    height 16px
  &_sync_off
    width 16px
    height 16px
    background url('./images/061.png') no-repeat
    background-size 100%
  &_watermarks
    width 18px
    height 18px
    background url('./images/footprints.svg') no-repeat
    background-size cover;
    cursor: pointer;
    &:hover
      width 18px
      height 18px
      background url('./images/footprintsh.svg') no-repeat
      background-size cover;

  &_dummy
    width 16px
    height 16px

//// Иконки при наведении на строку
//.data-table__row:hover .icon
//  &_trash
//    background: url('./images/recycling_bl.png') no-repeat;
//    background-size: 100% 100%;
//    width 22px
//    height 22px
//    &:hover
//      background: url('./images/recycling_b.png') no-repeat;
//      background-size: 100% 100%;
//      width 22px
//      height 22px
//
//  &_pen
//    background: url('./images/pencil_bl.png') no-repeat;
//    background-size: 100% 100%;
//    width 22px
//    height 22px
//    &:hover
//      background: url('./images/pencil_b.png') no-repeat;
//      background-size: 100% 100%;
//      width 22px
//      height 22px
//
//  &_folder
//    background: url('./images/group_bl.png') no-repeat;
//    background-size: 100% 100%;
//    width 22px
//    height 22px
//    &:hover
//      background: url('./images/group_b.png') no-repeat;
//      background-size: 100% 100%;
//      width 22px
//      height 22px
//
//  &_sync
//    width 22px
//    height 22px
//    background url('./images/062_bl.png') no-repeat
//    background-size 100%
//    &:hover
//      background url('./images/062.png') no-repeat
//      background-size 100%
