.edit-printer
  &__footer
    display flex
    justify-content space-around
    margin-top 20px
    
  &__general-error
    color red
    display flex
    justify-content center

  &__fields-wrapper
    max-height 60vh
    overflow-y auto
    min-width 35vw